*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif';
  margin: 8px 16px;
  color: var(--black);
  background: var(--white);
  transition: background .3s, color .3s;
}

strong, header, h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans';
  font-weight: bold;
}

h1 {
  margin: 30px 0;
  font-size: 48px;
}

h2 {
  font-family: 'PT Serif';
  font-size: 40px;
}

h3 {
 font-size: 32px;
}

a {
  color: var(--black);
  text-decoration: none;
}

p a {
  box-shadow: var(--black) 0px -2px 0px inset;
  transition: color .3s ease-in 0s, box-shadow 0.2s ease-in-out 0s;
  &:hover {
    font-weight: bold;
    color: var(--white);
    box-shadow: var(--black) 0px -20px 0px inset;
  }
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

p {
  line-height: 120%;
}